.gcloudignore
.git
.gitignore
.github
.env
.env.*
.venv
node_modules
dist
work
outputs
*.drawio
*.drawio.png
firebase-debug.log
firestore-debug.log
ui-debug.log
__pycache__
*.pyc
.pytest_cache
.terraform
*.tfstate
*.tfstate.*
